<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="sty.css">
</head>

<body>
    <div id="app">
        <div class="bigBox">
            <div class="list">
                <ul class="top">
                    <li></li>
                    <li @click="sort()">Data <span v-if="ishort">↑</span><span v-if="!ishort">↓</span></li>
                    <li>#</li>
                    <li>Description</li>
                    <li>Total</li>
                </ul>
                <ul :key="itme.id" class="data-list" v-for="itme in showpage">
                    <li @click="showRound(itme)">
                        <div class="round" v-if="itme.show"></div>
                    </li>
                    <li>{{itme.date}}</li>
                    <li>{{itme.no}}</li>
                    <li>{{itme.data}}</li>
                    <li>{{itme.total}}</li>
                </ul>
            </div>
            <!-- 分页和搜索 -->
            <div class="search">
                <!-- 分页 -->
                <div class="search-fy">
                    <a class="choose" href="" @click.prevent='uppage()'>
                        &lt; </a>

                    <a href="" v-for='itme in pageSize' :class="[itme==nowpage?'choose':'']"
                        @click.prevent='choose(itme)'>{{itme}}</a>
                    <a class="choose" href="" @click.prevent='nextpage()'>
                        &gt;
                    </a>
                </div>
                <input type="text" placeholder="Search" class="search-input">
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                //向上排序还是向下排序
                ishort: true,
                //排序状态
                shortType: null,
                //总数据
                list: [{
                    key: 1,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }, {
                    key: 2,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }, {
                    key: 3,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }, {
                    key: 4,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }, {
                    key: 5,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }, {
                    key: 6,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }, {
                    key: 6,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }, {
                    key: 6,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }, {
                    key: 6,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }, {
                    key: 6,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }, {
                    key: 6,
                    show: false,
                    date: '10/31/2017',
                    no: '000011',
                    data: 'Alpha Bravo Charlie',
                    total: '26.00'
                }],

                //当前页码
                nowpage: 2

            },
            methods: {
                sort: function () {
                    this.ishort = !this.ishort;
                },
                //小圆点的显示与隐藏
                showRound: function (el) {
                    console.log(el);
                    el.show = !el.show
                },
                //点击页码
                choose: function (itme) {
                    this.nowpage = itme;
                },
                uppage: function () {
                    if (this.nowpage === 1) {
                        this.nowpage = this.pageSize;
                    } else {
                        this.nowpage--;
                    }
                },
                nextpage() {
                    if (this.nowpage === this.pageSize) {
                        this.nowpage = 1;
                    } else {
                        this.nowpage++;
                    }
                }
            },
            computed: {
                //计算应该分多少页
                pageSize: function () {
                    console.log(this.list.length / 6);
                    return Math.ceil(this.list.length / 6) || 1;
                    // math.ceil是求整数
                },
                //计算某一页存放的数据
                showpage: function () {
                    return this.list.slice((this.nowpage - 1) * 6, this.nowpage * 6)
                }
            }
        })
    </script>



</body>


</html>