<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="sty.css">
</head>

<body>
    <div id="app">
        <div class="add">
            <label for="id">编号：</label>
            <input type="text" id="id" v-model='no' :disabled='flag'>
            <label for="data">数据：</label>
            <input type="text" id="name" v-model='data'>
            <label for="total">总计：</label>
            <input type="text" id="total" v-model='total'>
            <button @click.prevent='sub'>提交</button>
        </div>
        <div class="bigBox">
            <div class="list">
                <ul class="top">
                    <li></li>
                    <li @click="sort('date')">Date <span v-if="ishort">&and;</span><span v-if="!ishort">&or;</span></li>
                    <li>#</li>
                    <li>Description</li>
                    <li>Total</li>
                    <li></li>
                </ul>
                <ul :key="itme.key" class="data-list" v-for="itme in showpage">
                    <li @click="showRound(itme)">
                        <div class="round" v-if="itme.show"></div>
                    </li>
                    <li>{{itme.date}}</li>
                    <li>{{itme.no}}</li>
                    <li>{{itme.data}}</li>
                    <li>{{itme.total}}</li>
                    <li><button @click='change(itme)'>修改</button><button @click="del(itme.key)">删除</button></li>
                </ul>
            </div>
            <!-- 分页和搜索 -->
            <div class="search">
                <!-- 分页 -->
                <div class="search-fy">
                    <a class="choose" href="" @click.prevent='uppage()'>
                        &lt; </a>

                    <a href="" v-for='itme in pageSize' :class="[itme==nowpage?'choose':'']"
                        @click.prevent='choose(itme)'>{{itme}}</a>
                    <a class="choose" href="" @click.prevent='nextpage()'>
                        &gt;
                    </a>
                </div>
                <input type="text" placeholder="Search" class="search-input" v-model='searchdate'>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                //向上排序还是向下排序
                // ishort 是true的时候是向上排序
                // ishort 是 false 的时候是向下排序
                ishort: true,
                //排序状态
                shortType: null,
                //总数据
                list: [{
                        "key": 1,
                        "show": false,
                        "date": "11/16/2003",
                        "no": "863218",
                        "data": "Jennifer Young",
                        "total": 5.43
                    },
                    {
                        "key": 2,
                        "show": true,
                        "date": "02/15/1951",
                        "no": "615814",
                        "data": "Timothy Robinson",
                        "total": 41.56
                    },
                    {
                        "key": 3,
                        "show": true,
                        "date": "09/10/1991",
                        "no": "882971",
                        "data": "Donald Lee",
                        "total": 38.34
                    },
                    {
                        "key": 4,
                        "show": false,
                        "date": "11/12/2012",
                        "no": "275827",
                        "data": "Kimberly Williams",
                        "total": 47.58
                    },
                    {
                        "key": 5,
                        "show": true,
                        "date": "09/11/1975",
                        "no": "563945",
                        "data": "Ruth Rodriguez",
                        "total": 19.32
                    },
                    {
                        "key": 6,
                        "show": true,
                        "date": "12/02/2014",
                        "no": "809617",
                        "data": "Ruth Williams",
                        "total": 7.75
                    },
                    {
                        "key": 7,
                        "show": true,
                        "date": "09/14/2017",
                        "no": "693148",
                        "data": "Laura Martinez",
                        "total": 17.23
                    },
                    {
                        "key": 8,
                        "show": false,
                        "date": "10/01/1985",
                        "no": "387751",
                        "data": "Deborah Harris",
                        "total": 87.63
                    },
                    {
                        "key": 9,
                        "show": false,
                        "date": "02/03/1972",
                        "no": "036481",
                        "data": "Edward Young",
                        "total": 82.74
                    },
                    {
                        "key": 10,
                        "show": false,
                        "date": "07/13/2005",
                        "no": "970476",
                        "data": "Frank Williams",
                        "total": 36.13
                    },
                    {
                        "key": 11,
                        "show": false,
                        "date": "06/09/1972",
                        "no": "508266",
                        "data": "Susan Jones",
                        "total": 73.79
                    }
                ],
                //当前的key
                key: 8,
                //当前页码
                nowpage: 1,
                // searchlist: [],
                searchdate: '',
                no: '',
                data: '',
                total: '',
                flag: false
            },
            methods: {
                cmp: function (type) {
                    let that = this;
                    return function (a, b) {
                        // console.log(type)
                        let x = a[type].split('/');
                        let y = b[type].split('/');
                        //将时间转换为标准时间格式
                        let date1 = new Date(x[2] + ',' + x[0] + ',' + x[1]);
                        let date2 = new Date(y[2] + ',' + y[0] + ',' + y[1]);
                        //！that.ishort是代表转换后的  当你现在是升序 你点一下是变成降序
                        // 如果要得到自己想要的结果， 不管是升序还是降序， 就需要提供比较函数了。 该函数比较两个值的大小， 然后返回一个用于说明这两个值的相对顺序的数字。
                        // 比较函数应该具有两个参数 a 和 b， 其返回值如下：
                        // 若 a 小于 b， 即 a - b 小于零， 则返回一个小于零的值， 数组将按照升序排列。
                        // 若 a 等于 b， 则返回 0。
                        // 若 a 大于 b, 即 a - b 大于零， 则返回一个大于零的值， 数组将按照降序排列
                        if (!that.ishort) {
                            return date1 - date2;
                            //date1>date2 升序
                        } else {
                            return date2 - date1;
                            // date2>date1 降序
                        }
                    }
                },
                sort: function (type) {
                    this.showpage.sort(this.cmp(type))
                    // console.log(type);
                    this.ishort = !this.ishort;
                },
                //小圆点的显示与隐藏
                showRound: function (el) {
                    console.log(el);
                    el.show = !el.show
                },
                //点击页码
                choose: function (itme) {
                    this.nowpage = itme;
                },
                uppage: function () {
                    if (this.nowpage === 1) {
                        this.nowpage = this.pageSize;
                    } else {
                        this.nowpage--;
                    }
                },
                nextpage() {
                    if (this.nowpage === this.pageSize) {
                        this.nowpage = 1;
                    } else {
                        this.nowpage++;
                    }
                },
                del: function (el) {
                    // console.log(el);
                    let that = this;
                    this.list = this.list.filter(itm => {
                        // console.log(el);
                        // console.log(itm.key);
                        // itm.key === el ? false : true
                        if (itm.key === el) {
                            return false;
                        } else {
                            return true
                        }
                    })
                },
                sub: function () {
                    if (this.flag) {
                        this.list.some(itme => {
                            if (itme.no == this.no) {
                                itme.data = this.data;
                                itme.date = this.nowTime();
                                itme.total = this.total;
                                return true;
                            }
                        });
                        this.flag = false;
                    } else if (this.no == '' || this.data == '' || this.total == '') {
                        alert("请正确输入！")
                    } else {
                        var obj = {};
                        this.key = this.key + 1;
                        obj.key = this.key;
                        obj.show = false;
                        obj.date = this.nowTime();
                        obj.no = this.no;
                        obj.data = this.data;
                        obj.total = this.total;
                        this.list.push(obj);
                    }
                    this.no = '';
                    this.data = '';
                    this.total = '';
                },
                change: function (itme) {
                    this.no = itme.no;
                    this.data = itme.data;
                    this.flag = true;
                },
                nowTime: function () {
                    var time = new Date();
                    return `${time.getMonth() + 1}/${time.getDate()}/${time.getFullYear()}`
                }
            },
            computed: {
                //计算应该分多少页
                pageSize: function () {
                    // console.log(this.list.length / 6);
                    return Math.ceil(this.searchlist.length / 6) || 1;
                    // math.ceil是求整数
                },
                // 用来存放搜索的数据
                searchlist: function () {
                    var that = this;
                    var slist = [];
                    // 基本方法选择：
                    // for (var i = 0; i < this.list.length; i++) {
                    //     //for循环数据中的每一项（根据name值）
                    //     if (this.list[i].no.search(this.searchdate) != -1 || this.list[i].data.search(this
                    //             .searchdate) != -1) {
                    //         //判断输入框中的值是否可以匹配到数据，如果匹配成功
                    //         slist.push(this.list[i]);
                    //         //向空数组中添加数据
                    //     }
                    // }
                    // 利用filter（）
                    slist = this.list.filter(function (x) {
                        if (x.no.search(that.searchdate) != -1 || x.data
                            .search(that
                                .searchdate) != -1) {
                            return true;
                        } else {
                            return false;
                        }
                    })
                    return slist;
                },
                //计算某一页存放的数据
                showpage: function () {
                    return this.searchlist.slice((this.nowpage - 1) * 6, this.nowpage * 6)
                }

            }
        })
    </script>



</body>


</html>