* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

.bigBox {
  width: 1200px;
  height: 600px;
  padding: 2px;
  margin: 75px auto;
  border: 1px solid #eee;
  box-shadow: 0 0 5px rgba(53, 65, 53, 0.20);
}
.list{
  height: 544px;
}
.list ul {
  display: flex;

}

.list ul li {
  margin: 5px 10px;
}

.list ul li:nth-child(1) {
  width: 40px;
}

.list ul li:nth-child(2) {
  width: 150px;
}

.list ul li:nth-child(3) {
  width: 110px;

}

.list ul li:nth-child(4) {
  flex: 1;
}

.list ul li:nth-child(5) {
  text-align: center;
  width: 100px;
}
.list ul li:nth-child(6) {
  width: 100px;
}
.list ul li:nth-child(6) button{
  margin: 5px;
}

.bigBox .top {
  font-size: 16px;
  border-bottom: 1px solid rgba(139, 119, 119, 0.247);
  height: 55px;
  line-height: 45px;
  cursor: pointer;
}

.bigBox .data-list {
  border-bottom: 1px solid rgba(139, 119, 119, 0.247);
  height: 80px;
  line-height: 70px;
}

.bigBox .list {

  border: 1px solid #eee;
  box-shadow: 0 0 5px rgba(53, 65, 53, 0.20);
}

.search {
  display: flex;
}

.search-fy {
  display: flex;
  height: 55px;
  align-items: center;
}

.search-fy span {
  font-size: 25px;
  margin: 0 10px;
}

.search-fy a {
  font-size: 20px;
  margin: 0 10px;
  color: #ccc;
}

.search-fy .choose {
  color: #000000;
}

.search .search-input {
  flex: 1;
  font-size: 24px;
}

.round {
  margin: 26px auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6ea324;
}
.add{
  width: 800px;
  height: 50px;
  margin: 50px auto;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 50px;
}